@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/*variables*/
$accept-button-color: #3E586B;
$heading3: "Ubuntu", sans-serif;
$font-nav-header: "Anybody", sans-serif;
$light-blue: #D5F4FA;
$text-color: #1F3748;
$small-text-color: #0B202F;
$sidebar-light-color: #E5F9FF;

/*частини сторінок*/
.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1 1 auto;
  min-height: 500px;
}
.main-grid{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 10px;
}
.heading3{
  font-family: $heading3;
  font-weight: bold;
  color: $text-color;
}
.content{

}

//шапка
.header-nav{
  .header-search{
    input{

      width: 250px;
      background-color: transparent;
      border-bottom: 1px solid #345267;
      font-family: $font-nav-header;
      font-weight: normal;
    }
    #search-icon{
      margin-left: -5%;
    }
  }
  a{
    font-family: $font-nav-header;
    font-weight: 700;
    font-size: 16px;
    color: $text-color;
    text-align: right;
    text-decoration: none;
    &:hover{
      color: #365361;
    }
  }
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.header-div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
}
header{
  background-color: $light-blue;
  display: flex;
  padding: 49px 114px 46px 102px;
  justify-content: center;
  align-items: center;
}

//лого в шапці
.logo-header-container{
  a{
    text-decoration: none;
  }
}
.logo-header{
  display: inline-flex;
  flex-direction: row;
  width: 225px;
  height: 96px;
  align-items: center;
  gap: 10px;
}
.logo-mc{
  span{
    font-size: 48px;
    font-family: "Bruno Ace", sans-serif;
    color: $light-blue;
  }
  display: flex;
  padding: 19px 16px;
  align-items: center;
  gap: 10px;
  border-radius: 29px;
  background-color: $text-color;
}
.logo-title{
  font-size: 16px;
  text-align: right;
  font-family: $font-nav-header;
  color: $text-color;
  font-weight: 700;
}

//футер сторінок
.footer-div{
  background-color: #3f5865;
  display: flex;
  flex-direction: column;
  .footer1{
    background-color: #2f424e;
    padding: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    .socials-footer{
      gap: 10px;
      display: flex;
      flex-direction: row;
      a img{
        width: 35px;
        filter: invert(100);
      }
    }
    .get-connected{
      color: #edebeb;
      font-size: 14px;
      font-family: $font-nav-header;
    }
  }
  .footer2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    div h5{
      color: #edebeb;
    }
  }
}



//контакти
.contacts-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 30px;
}
.contact1{
  h2{
    font-family: $heading3;
    color: $text-color;
  }

}
//кнопка сабміт в більшості форм
%button-form{
  background-color: $accept-button-color;
  color: white;
  font-family: $font-nav-header;
  border-radius: 15px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
}
.btns-row{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px 0;
}
//для форм завдань проектів
.task-add{
  padding: 20px 0;

  //.task-add-flex{
  //
  //  display: flex;
  //  flex-direction: row;
  //  gap: 15px;
  //}

}
.task-add-form{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    label{
      font-size: 16px;
      color: $text-color;
      font-family: $font-nav-header;
    }
  }
  input{
    border-bottom: 1px solid $text-color;
  }
  textarea{
    border-radius: 10px;
    border: 1px solid $accept-button-color;
  }
  button{
    @extend %button-form;
  }
}

//для форми проектів
#search-project{
  border-bottom: 1px solid $small-text-color;
}
.project-add-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  button{
    @extend %button-form;
  }
  textarea{
    border-color: $small-text-color;
  }
}
.form-control-project{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.add-project-btn{
  text-align: right;
  a{
    border-radius: 10px;
    padding: 5px;
    color: white;
    text-decoration: none;
    background-color: $accept-button-color;
  }
}
.projects{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.project-el{
  cursor: pointer;
  padding: 10px;
  background-color: #d9f3f3;
  border-radius: 10px;
}
.participants{
  display: flex;
  flex-direction: column;
  gap: 10px;
  .participant{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}
.user-list {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}
.user-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.user-item img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.user-item label {
  margin-left: 10px;
}

//кнопка назад і заголовок
.h3-and-btn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a{
    font-size: 15px;
  }
}

//для форм дописів
.post-add{
  padding: 20px 0;
  margin: 0 30px;
  p{
    font-size: 20px;
  }
  select, textarea, button, hr{
    font-size: 20px;
    width: 80%;
  }
  button{
    @extend %button-form;
  }
}
.post-add-form{
  padding: 15px;
  display: flex;
  flex-direction: column;
}

//додавання зображень до допису
.post-add-form input{
  opacity: 0;
  height: 0;

}
.custom__image-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.custom__image-container label {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 150%;
  cursor: pointer;
  width: 100px;
  height: 100px;
  border: solid 1px $small-text-color;
  border-radius: 5px;
  object-fit: cover;
}
.custom__image-container img {
  width: 100px;
  height: 100px;
  border: solid 1px $small-text-color;
  border-radius: 5px;
  object-fit: cover;
}

//поле пошуку користувача
#query{
  border-bottom: 1px solid $accept-button-color;
}
//бокова панель
.side-content{
  display: flex;
  flex-direction: row;
}
.sidebar-hidden{
  display: flex;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  img{

  }
}
//.sidebar-container{
//  position: relative;
//  display: flex; /* Arrange blocks vertically */
//  flex-direction: row;
//  height: 100%;
//}
//.sidebar-participant{
//  display: none;
//  background-color: $light-grey;
//}
//.sidebar-hidden{
//  width: 48px;
//  height: 100%;
//  background-color: $light-grey;
//  cursor: pointer;
//  position: absolute;
//  display: flex;
//  flex-direction: column;
//  justify-content: center;
//  align-items: center;
//  img{
//    position: absolute;
//    left: 50%;
//    transform: translateX(-50%);
//    transition: transform 0.3s ease;
//    &::before{
//        content: "";
//        display: block;
//        transform: rotate(0deg); /* Initially pointing down */
//    }
//  }
//}
//.rotate {
//  transform: rotate(180deg); /* Обертання на 180 градусів */
//}

//загальні властивості сайдбару
.sidebarMenu{
  background-color: $sidebar-light-color;
  nav{
    padding: 15px;
    ul{
      padding: 25px;
      li{
        text-align: right;
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          text-decoration: none;
          color: $text-color;
          font-weight: bold;
          font-family: $font-nav-header;
          &:hover{
            text-decoration: underline $text-color;
          }
        }
      }
    }
  }
}

//авторизація
.registration-block{
  margin: auto;
}
.reg-form{
  padding: 10px;
}
.login-submit{
  button{
    padding: 5px;
    color: white;
    background-color: #3bb0c6;
    border-radius: 15px;
    width: 100%;
  }
  label{
    font-size: 16px;
    horiz-align: center;
  }
}
.login-content{
  position: relative;
   background-color: #c2e9f4;
   min-height: 100%;

    .login-block{
      padding: 15px;
      border-radius: 15px;
      position: absolute;
      left: 50%;
      top: 50%;
      background-color: #fff;
      transform: translate(-50%, -50%);
      h3{
        text-align: center;
      }
      .login-form{
        display: flex;
        gap: 10px;
        flex-direction: column;
        font-size: 20px;

        input{
          border: 1px solid #c1bfbf;
          border-radius: 5px;
          padding: 5px;
        }
      }
    }
}
.reg-ref{
  text-align: center;
  a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    &:hover{
      text-decoration-line: underline;
    }
  }
}
//зображення дописів
.image-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.image-preview img {
  width: 100px;
  height: 100px;
  margin: 5px;
  object-fit: cover;
}

.image-preview button {
  margin-left: 5px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}



