<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Youth Center</title>
    <link rel="stylesheet" th:href="@{../static/css/global.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center font-monospace">Особистий кабінет</h2>
    <form method="post">
        <div class="form-group mb-2">
            <label for="userName">Ім'я</label>
            <input name="name" type="text" class="form-control" id="userName" placeholder="Ваше ім'я"/>
        </div>
        <div class="form-group mb-2">
            <label for="userSurName">Прізвище</label>
            <input name="surname" type="text" class="form-control" id="userSurName" placeholder="Ваше прізвище"/>
        </div>
        <div class="mb-2" th:each="gender : ${genders}">
            Обери свою стать
            <div class="form-check">
                <input class="form-check-input" type="radio" name="gender" th:id="'gender'+${gender.ordinal()}" th:value="${gender}">
                <label class="form-check-label" th:for="'gender'+${gender.ordinal()}" th:text="${gender.getGender}"></label>
            </div>
        </div>
        <div class="form-group">
            <label for="birthday">Дата народження:</label>
            <input type="date" id="birthday" name="dateOfBirth">
        </div>
        <div class="mb-2 form-group">
            <label for="email">Логін (електронна пошта)</label>
            <input name="email" type="email" class="form-control" id="email" placeholder="example@gmail.com">
        </div>
        <div class="mb-2 form-group">
            <label for="password">Пароль</label>
            <input name="password" type="password" class="form-control" id="password">
        </div>
<!--        <div class="form-group">-->
<!--            <label for="confirmPassword">Повторіть пароль для підтвердження</label>-->
<!--            <input type="password" class="form-control" id="confirmPassword">-->
<!--        </div>-->
        <button type="submit" class="mt-2 btn btn-primary">Готово!</button>
    </form>
    Вже зареєстровані? <a href="/login">Увійти</a>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>