<footer th:fragment="footer" class="footer-div">
    <div class="footer1">
        <div class="get-connected">
            Get connected with us on social networks
        </div>
        <div class="socials-footer">
            <a href="#" class="social-icon"><img src="../../static/img/tg-icon.png" alt=""></a>
            <a href="#" class="social-icon"><img src="../../static/img/inst-icon.png" alt=""></a>
            <a href="#" class="social-icon"><img src="../../static/img/fb-icon.png" alt=""></a>
        </div>
    </div>
    <div class="footer2">
        <div>
            <h5>Молодіжний центр</h5>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, commodi consectetur cum deserunt dignissimos doloribus dolorum ea earum eligendi enim et facilis itaque libero maxime perferendis recusandae sunt tempore veniam!
            </p>
        </div>
        <div>
            <h5>Інформація</h5>
            <ul>
                <li><a href="">Про нас</a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <div>
            <h5>Зв'яжіться з нами</h5>
        </div>
    </div>
</footer>