<header th:fragment="header-guest" class="header-div">
    <div class="logo-header-container">
        <a href="/">
            <div class="logo-header">
                <div class="logo-title">where dreams come true</div>
                <div class="logo-mc"><span>MC</span></div>
            </div>
        </a>
    </div>
    <nav class="header-nav" style="gap: 30px;">
        <div class="header-search">
            <input placeholder="Пошук" type="text">
            <span id="search-icon"><img src="../../static/img/search-icon.svg" alt=""></span>
        </div>
        <a href="/">Головна</a>
        <a href="/about">Про нас</a>
        <a href="/volunteering">Волонтерство</a>
        <a href="/contacts">Контакти</a>
        <a href="/login">Увійти</a>
    </nav>
</header>
