<header th:fragment="header-manager" class="header-div">
    <div class="logo-header-container">
        <a href="/">
            <div class="logo-header">
                <div class="logo-title">where dreams come true</div>
                <div class="logo-mc"><span>MC</span></div>
            </div>
        </a>
    </div>
    <nav class="header-nav">
        <div class="header-search">
            <input placeholder="Пошук" type="text">
            <span id="search-icon"><img src="../../static/img/search-icon.svg" alt=""></span>
        </div>
        <a href="/my">Мій кабінет</a>
        <a href="/volunteering">Наше волонтерство</a>
        <a href="/contacts">Контакти</a>
        <a href="/my/users">Користувачі</a>
    </nav>
</header>