<aside th:fragment="sidebar-participant" class="sidebar-participant sidebarMenu">
    <nav>
        <ul>
            <li><a href="">Профіль</a></li>
            <li><a href="/my/posts">Дописи</a></li>
            <li><a href="">Чати</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href="">Налаштування</a></li>
            <li><a href="">Вийти</a></li>
        </ul>
    </nav>
</aside>
<aside th:fragment="sidebar-hidden" class="sidebar-hidden sidebarMenu">
    <img class="arrow" src="/static/img/бокова_пташка.svg" alt="">
</aside>