<aside th:fragment="sidebar-participant" class="sidebar-participant">
    <nav>
        <ul>
            <li><a href="">Мій профіль</a></li>
            <li><a href="">Мої дописи</a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href="">Налаштування</a></li>
            <li><a href="">Вийти</a></li>
        </ul>
    </nav>
</aside>
<aside th:fragment="sidebar-hidden" class="sidebar-hidden">
    <img src="/static/img/бокова_пташка.png" alt="">
</aside>